

.logo{
    width: 60px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #181D27;
    margin: 0;
}

.titlelogo{
    margin-top: 30px;
    color: #fff;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100px;
    
}

.nav-link{
    color: #fff;
    text-decoration: none;
    width: 120px;
    height: 40px;
    text-align: center;
    padding-top: .5%;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    border-radius: 40px;
    

}

.nav-link:hover{
    
    box-shadow: 0 0 10px white; 
}


@media screen and (max-width: 768px) {
    .nav-container{
        width: 100%;
    }
    .nav-link{
        width: 100px;
        font-size: 15px;
    }
    .logo{
        width: 40px;
    }
}

@media screen and (max-width: 480px) {
    .nav-container{
        width: 100%;
    }
    .nav-link{
        width: 100px;
        font-size: 15px;
    }
    .logo{
        width: 40px;
    }
}

