.itemdetail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    width: 100%;
    border-radius: 10px;
    border: solid 3px #370926;
    padding: 10px;
    align-items: center;
    justify-items: center;
}

.itemdetail__img{
    width: 200px;
}

@media (max-width: 900px) {
    .itemdetail {
        grid-template-columns: 1fr;
       
    }
    
    .itemdetail__img{
        width: 200px;
    }
}