
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

.content {
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content__box1 {
    border: none;
    width: 90%;
    height: 500px;
    background-color: #87BBA2;
    margin: 20px;
  }

  .content__box2 {
    border: none;
    width: 90%;
    height: 500px;
    background-color: #EFC3F5;
    margin: 20px;
  }
  
  .content__buttons {
    
    display: flex;
  }
  
  .content__button1 {
    font-family: 'Space Mono', monospace;
    border-radius: 50px;
    background-color: #87BBA2;
    width: 100px;
    height: 50px;
    margin: 10px;
  }
  

  .content__button2 {
    font-family: 'Space Mono', monospace;
    border-radius: 50px;
    background-color: #EFC3F5;
    width: 100px;
    height: 50px;
    margin: 10px;
  }